body {
  margin: 0em;
  background-color: #030e1c;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.035), #030e1c);
  background-repeat: no-repeat;
  background-size: contain;
}
body .loader {
  background-color: #030e1c;
  color: #436CA2;
}
body .loader.dark .loader-spinner {
  border-top-color: #fff;
}
body .icon {
  color: #fff;
}
body .btn-bg-round * {
  user-select: none;
}
body .btn-bg-round:hover {
  background-color: rgba(56, 101, 160, 0.3) !important;
}
body .btn-bg-round:hover * {
  color: #4E90E6 !important;
}
body .btn-bg-round:active {
  background-color: rgba(56, 101, 160, 0.5) !important;
}
body .btn-bg-round-flat {
  background-color: #fff;
}
body .btn-bg-round-flat * {
  color: #4E90E6;
  user-select: none;
}
body .btn-bg-round-flat:hover {
  background-color: #4E90E6 !important;
}
body .btn-bg-round-flat:hover * {
  color: #fff !important;
}
body .btn-bg-round-flat:active {
  background-color: rgba(3, 14, 28, 0.7) !important;
}
body a {
  color: #4E90E6;
}
body .container {
  background-color: rgba(3, 14, 28, 0.7);
}
body .container h1 {
  color: #fff;
}
body .container h2 {
  color: #4E90E6;
}
body .container .header {
  background-color: #030e1c;
}
body .container .header .header--section-left .section-left--logo img:hover {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a label {
  color: #fff;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a label:hover {
  border-color: #fff !important;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a.active label {
  border-color: #fff !important;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a.active label:hover {
  border-color: #4E90E6 !important;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li .theme--title {
  background-color: rgba(56, 101, 160, 0.15);
}
body .container .container-content .main .btn-bg-round {
  background-color: rgba(255, 255, 255, 0.075);
}
body .container .container-content .main[type=about], body .container .container-content .main[type=contact], body .container .container-content .main[type=experience] {
  flex-direction: column;
  width: 50%;
  margin: apply-spacing(lv1) auto;
}
body .container .container-content .main[type=about] .card, body .container .container-content .main[type=contact] .card, body .container .container-content .main[type=experience] .card {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.035);
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p {
  color: #fff;
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p .title-right--title {
  background-color: rgba(255, 255, 255, 0.075);
  color: #4E90E6;
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p .title-right--title:hover {
  background-color: #fff;
  color: #4E90E6;
}
body .container .container-content .main[type=about] .card .btn-bg-round-flat {
  text-shadow: none;
}
body .container .container-content .main[type=contact] .card .card--body form input[type=text].warning, body .container .container-content .main[type=contact] .card .card--body form input[type=email].warning, body .container .container-content .main[type=contact] .card .card--body form textarea.warning {
  border-color: #ad2e2e !important;
}
body .container .container-content .main[type=contact] .card .card--body .message-pop-up.valid {
  background-color: rgba(56, 101, 160, 0.15);
  color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .message-pop-up.invalid {
  background-color: rgba(173, 46, 46, 0.35);
  color: #ad2e2e;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input {
  border-color: #fff;
  outline-color: #4E90E6;
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input::placeholder {
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input:focus {
  caret-color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea {
  border-color: #fff;
  outline-color: #4E90E6;
  caret-color: #4E90E6;
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea::placeholder {
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom-info .line {
  background-color: #fff;
}
body .container .container-content .main[type=experience] .main-experience .card a {
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card a * {
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card a:hover {
  color: #436CA2;
}
body .container .container-content .main[type=experience] .main-experience .card a:hover * {
  color: #436CA2;
}
body .container .container-content .main[type=experience] .main-experience .card.main-experience--aside .aside-professional--skills .skills-division p label {
  background-color: rgba(78, 144, 230, 0.15);
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card.main-experience--body .experiences--bottom a {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .footer {
  background-color: #030e1c;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.035), #030e1c);
}
body .container .footer h3 {
  color: #fff;
}
body .container .footer .footer--shortcuts > div ul li a {
  color: #fff;
}
body .container .footer .footer--shortcuts > div ul li a:hover {
  background-color: rgba(56, 101, 160, 0.3);
}
body .container .footer .footer--info .line {
  background-color: rgba(255, 255, 255, 0.055);
}
body .container .footer .footer--info .info--info-left p {
  color: #fff;
}
body .container .footer .footer--info .info--info-left p a {
  color: #fff;
}
body .container .footer .footer--info .info--info-right * {
  color: #fff;
}
body .container-scroll-indicator > label {
  border-color: #4E90E6;
}
body .container-scroll-indicator > label:hover {
  border-color: #3865A0;
}
body .container-scroll-indicator > label:active {
  background-color: rgba(78, 144, 230, 0.035);
}
body .container-scroll-indicator > label.on {
  background-color: #4E90E6;
}

@media (max-width: 760px) {
  body .container .header .header--section-right .section-right--nav .nav--ul .ul--li:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  body .container .header .header--section-right .section-right--options.end .btn-bg-round:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
  body .container .header .header--section-right .section-right--options.end .btn-bg-round:hover * {
    color: #030e1c !important;
  }
  body .container .header.expand .header--section-right {
    background-color: #3865A0;
  }
}
/* SCROLL BAR SETTINGS */
::-webkit-scrollbar {
  width: 0.35em;
}

::-webkit-scrollbar-track {
  background: #030e1c;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

::-webkit-scrollbar-button:increment {
  background-image: url("../icon/caret-down-solid.svg");
  background-color: #030e1c;
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-button:decrement {
  background-image: url("../icon/caret-up-solid.svg");
  background-color: #030e1c;
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-button:increment:hover, ::-webkit-scrollbar-button:decrement:hover {
  cursor: pointer;
}

/*# sourceMappingURL=darktheme.css.map */
