body {
  margin: 0em;
  height: 100vh;
  background-color: #030e1c;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.035), #030e1c);
  background-repeat: no-repeat;
  background-size: cover;
}
body .icon {
  color: #fff;
}
body .btn-bg-round:hover {
  background-color: rgba(56, 101, 160, 0.3) !important;
}
body .btn-bg-round:hover * {
  color: #4E90E6 !important;
}
body .btn-bg-round-flat {
  background-color: #fff;
}
body .btn-bg-round-flat * {
  color: #4E90E6;
}
body .btn-bg-round-flat:hover {
  background-color: #4E90E6 !important;
}
body .btn-bg-round-flat:hover * {
  color: #fff !important;
}
body a {
  color: #4E90E6;
}
body .container {
  background-color: rgba(3, 14, 28, 0.7);
}
body .container h1 {
  color: #fff;
}
body .container h2 {
  color: #4E90E6;
}
body .container .header {
  background-color: #030e1c;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a label {
  color: #fff;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a label:hover {
  border-color: #fff;
}
body .container .container-content .main .btn-bg-round {
  background-color: rgba(255, 255, 255, 0.075);
}
body .container .container-content .main[type=about], body .container .container-content .main[type=contact], body .container .container-content .main[type=experience] {
  flex-direction: column;
  width: 50%;
  margin: apply-spacing(lv1) auto;
}
body .container .container-content .main[type=about] .card, body .container .container-content .main[type=contact] .card, body .container .container-content .main[type=experience] .card {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.035);
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p .title-right--title {
  background-color: rgba(255, 255, 255, 0.075);
  color: #4E90E6;
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p .title-right--title:hover {
  background-color: #fff;
  color: #4E90E6;
}
body .container .container-content .main[type=about] .card .btn-bg-round-flat {
  text-shadow: none;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input {
  border-color: #fff;
  outline-color: #4E90E6;
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input::placeholder {
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input:focus {
  caret-color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea {
  border-color: #fff;
  outline: #4E90E6;
  caret-color: #4E90E6;
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea::placeholder {
  color: #fff;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom-info .line {
  background-color: #fff;
}
body .container .container-content .main[type=experience] .main-experience .card a {
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card a * {
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card a:hover {
  color: #436CA2;
}
body .container .container-content .main[type=experience] .main-experience .card a:hover * {
  color: #436CA2;
}
body .container .container-content .main[type=experience] .main-experience .card.main-experience--aside .aside-professional--skills .skills-division p label {
  background-color: rgba(78, 144, 230, 0.15);
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card.main-experience--body .experiences--bottom a {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .container-scroll-indicator > label {
  background-color: #4E90E6;
  border: solid 2px #4E90E6;
}
body .container .container-scroll-indicator > label:hover {
  border-color: #3865A0;
}
body .container .footer {
  background-color: #030e1c;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.035), #030e1c);
}
body .container .footer h3 {
  color: #fff;
}
body .container .footer .footer--shortcuts > div ul li a {
  color: #fff;
}
body .container .footer .footer--shortcuts > div ul li a:hover {
  background-color: rgba(56, 101, 160, 0.3);
}
body .container .footer .footer--info .line {
  background-color: rgba(255, 255, 255, 0.055);
}
body .container .footer .footer--info .info--info-left p {
  color: #fff;
}
body .container .footer .footer--info .info--info-left p a {
  color: #fff;
}
body .container .footer .footer--info .info--info-right * {
  color: #fff;
}

/*# sourceMappingURL=darktheme.css.map */
