body {
  margin: 0em;
  background-color: #fff;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.035), #fff);
  background-repeat: no-repeat;
  background-size: contain;
}
body .icon {
  color: #444;
}
body .btn-bg-round {
  background-color: rgba(78, 144, 230, 0.15);
}
body .btn-bg-round * {
  user-select: none;
}
body .btn-bg-round:hover {
  background-color: rgba(67, 108, 162, 0.3) !important;
}
body .btn-bg-round:hover * {
  color: #4E90E6 !important;
}
body .btn-bg-round:active {
  background-color: rgba(67, 108, 162, 0.5) !important;
}
body .btn-bg-round-flat {
  background-color: #fff;
}
body .btn-bg-round-flat * {
  color: #4E90E6;
  user-select: none;
}
body .btn-bg-round-flat:hover {
  background-color: #4E90E6 !important;
}
body .btn-bg-round-flat:hover * {
  color: #fff !important;
}
body .btn-bg-round-flat:active {
  background-color: #436CA2 !important;
}
body a {
  color: #4E90E6;
}
body .container {
  background-color: rgba(255, 255, 255, 0.85);
}
body .container h1 {
  color: #444;
}
body .container h2 {
  color: #4E90E6;
}
body .container .header {
  background-color: #fff;
}
body .container .header .header--section-left .section-left--logo img:hover {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a label {
  color: #444;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a label:hover {
  border-color: #444;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a.active label {
  border-color: #444;
}
body .container .header .header--section-right .section-right--nav .nav--ul .ul--li a.active label:hover {
  border-color: #4E90E6;
}
body .container .container-content .main[type=about], body .container .container-content .main[type=contact], body .container .container-content .main[type=experience] {
  flex-direction: column;
  width: 50%;
  margin: apply-spacing(lv1) auto;
}
body .container .container-content .main[type=about] .card, body .container .container-content .main[type=contact] .card, body .container .container-content .main[type=experience] .card {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.035);
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p {
  color: #444;
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p .title-right--title {
  background-color: rgba(78, 144, 230, 0.15);
  color: #4E90E6;
}
body .container .container-content .main[type=home] .main--section .section--title .title-right p .title-right--title:hover {
  background-color: rgba(67, 108, 162, 0.3);
  color: #4E90E6;
}
body .container .container-content .main[type=home] .main--section .section--social-media .btn-bg-round {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .container-content .main[type=about] .card {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .container-content .main[type=about] .card * {
  text-shadow: none;
  color: #444;
}
body .container .container-content .main[type=contact] .card {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .container-content .main[type=contact] .card h3, body .container .container-content .main[type=contact] .card label, body .container .container-content .main[type=contact] .card span {
  color: #444;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input {
  border-color: #444;
  outline-color: #4E90E6;
  color: #444;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input::placeholder {
  color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-top .p-user-data input:focus {
  caret-color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea {
  border-color: #444;
  outline-color: #4E90E6;
  caret-color: #4E90E6;
  color: #444;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea::placeholder {
  color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom .div-user-data-textarea textarea:focus {
  caret-color: #4E90E6;
}
body .container .container-content .main[type=contact] .card .card--body .body--section-bottom-info .line {
  background-color: #444;
}
body .container .container-content .main[type=experience] .main-experience .card {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .container-content .main[type=experience] .main-experience .card a {
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card a * {
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card a:hover {
  color: #436CA2;
}
body .container .container-content .main[type=experience] .main-experience .card a:hover * {
  color: #436CA2;
}
body .container .container-content .main[type=experience] .main-experience .card h4, body .container .container-content .main[type=experience] .main-experience .card h3, body .container .container-content .main[type=experience] .main-experience .card p {
  color: #444;
}
body .container .container-content .main[type=experience] .main-experience .card.main-experience--aside .aside-professional--skills .skills-division p label {
  background-color: rgba(78, 144, 230, 0.15);
  color: #4E90E6;
}
body .container .container-content .main[type=experience] .main-experience .card.main-experience--body .experiences--bottom a {
  background-color: rgba(78, 144, 230, 0.15);
}
body .container .container-scroll-indicator > label {
  border: solid 2px #4E90E6;
}
body .container .container-scroll-indicator > label:hover {
  border-color: #436CA2;
}
body .container .container-scroll-indicator > label:active {
  background-color: rgba(78, 144, 230, 0.035);
}
body .container .container-scroll-indicator > label.on {
  background-color: #4E90E6;
}
body .container .footer {
  background-color: #e1e1e1;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.035), #fff);
}
body .container .footer h3 {
  color: #444;
}
body .container .footer .footer--shortcuts > div ul li a {
  color: #444;
}
body .container .footer .footer--shortcuts > div ul li a:hover {
  background-color: rgba(67, 108, 162, 0.3);
}
body .container .footer .footer--info .line {
  background-color: rgba(67, 108, 162, 0.5);
}
body .container .footer .footer--info .info--info-left p {
  color: #444;
}
body .container .footer .footer--info .info--info-left p a {
  color: #444;
}
body .container .footer .footer--info .info--info-right * {
  color: #444;
}

/* SCROLL BAR SETTINGS */
::-webkit-scrollbar {
  width: 0.35em;
}

::-webkit-scrollbar-track {
  background: #fff;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background: #444;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

::-webkit-scrollbar-button:increment {
  background-image: url("../icon/caret-down-solid.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-button:decrement {
  background-image: url("../icon/caret-up-solid.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-button:increment:hover, ::-webkit-scrollbar-button:decrement:hover {
  cursor: pointer;
}

/*# sourceMappingURL=lighttheme.css.map */
